<!-- /templates/customers/register.liquid -->

{% form 'create_customer' %}

    {{ form.errors | default_errors }}

    <label for="first_name">First Name</label>
    <input name="customer[first_name]" size="30" type="text" value=""/>

    <label for="last_name">Last Name</label>
    <input name="customer[last_name]" size="30" type="text" value=""/>

    <label for="email">Email Address</label>
    <input name="customer[email]" size="30" type="email" value=""/>

    <label for="password">Password</label>
    <input name="customer[password]" size="30" type="password" value=""/>

    <input type="submit" value="Create"/>

{% endform %}
